.photo-grid__item-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px 14px;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item-list {
    gap: 11px 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__item-list {
    gap: 12px 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item-list {
    gap: 8px
  }
}