.cover {
  margin: 92px auto 0;
  padding: 0;
  width: 100%;
  max-width: 1184px;
  min-height: 62.5%;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  object-fit: cover;
}

@media (max-width: 400px) {
  .cover {
    margin-top: 65px;
  }
}

